@charset "utf-8";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.top {
    border-bottom: 1px solid #666666;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 00px;
    padding-left: 00px;
}

.top-title {
    display: block;
    width: 100%;
}

.navigate {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-left: 200px;
}

.nav-item {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
    text-align: center;
}

.contents {
    display: block;
    text-align: center;
}

.aboutme {
    display: block;
    text-align: center;
    border-top: 1px solid #666666;
}

.me {
    padding-left: 00px;
    padding-right: 00px;
}

.me h1 {
    text-align: center;
    width: 100%;
}

.content h3 {
    text-align: center;
    margin-top: 50px;
}

.langs {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 200px;
    padding-left: 200px;
}

.lang {
    display: block;
    text-align: center;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 25px; 
}

.lang p {
    margin-top: 0px;
}

.applications {
    text-align: center;
    border-top: 1px solid #C0C0C0;
    padding-bottom: 50px;
    padding-right: 200px;
    padding-left: 200px;
}

.applications h1 {
    text-align: center;
}

.application {
    float: left;
    width: 25%;
    padding-top: 20px;
}

.comment {
    background-size: cover;
    background-color: #c4bfbf; 
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.comment h2 {
    text-align: center;    
}

.footer-text {
    text-align: center;
}