@media (max-width: 1000px) {

.applications {
    padding-right: 0px;
    padding-left: 0px;
}

.application {
    width: 50%;
}

.comment {
    margin-top: 70px;
}

}

@media (max-width: 800px) {

.lang {
    width: 100%;
    padding-top: 20px;
}

.aboutme {
    width: 100%;
}

.me p {
    width: 100%;
}

}

@media (max-width: 630px) {


.navigate {
    display: none;
}

.langs {
    padding-right: 0px;
    padding-left: 0px;
}
}