@charset "utf-8";

.top-title {
    text-align: center;
}

.navber {
    display: inline;
    text-align: center;
}


/*
.navigate {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.nav-item {
    display: table-cell;
    vertical-align: middle;
}
*/

.navigat {
    text-align: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
}
.aboutme h1 {
    text-align: center;
}

.aboutme h3 {
    text-align: center;
    margin-top: 100px
}

.applications h1 {
    text-align: center;
}

.comment h2 {
    text-align: center;    
}

.applications {
    margin-top: 100px;
}

.lang {
    display: inline-block;
    text-align: center;
    margin-right: 300px;
    margin-top: 20px;
    margin-left: 300px;
}