@charset "utf-8";

.top-title {
    text-align: center;
}

.navber {
    display: inline;
    text-align: center;
}


/*
.navigate {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.nav-item {
    display: table-cell;
    vertical-align: middle;
}
*/

.navigat {
    text-align: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
}
.aboutme h1 {
    text-align: center;
}

.aboutme h2 {
    text-align: center;
}

.applications h1 {
    text-align: center;
}

.comment h2 {
    text-align: center;    
}